.container{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}.search{
  margin-top: 90px;
  margin-left: 77px;
  border: none;
  padding: 10px;

}.icon{
  margin-left: -25px;
  margin-bottom: -5px;
  font-size: 20px;
  cursor: pointer;
}@media screen and (max-width: 720px){
  .search{
    margin-top: 90px;
    margin-left: 7vw;
    border: none;
    width: 80vw;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.199);
  }.contain{
    width: 100%;
    min-height: 220vw;
  }
}